
@tailwind base;
@tailwind components;
@tailwind utilities;


*{

}
body{
  background: #150E28;
  font-family: 'Montserrat', sans-serif;
  color: white;

}

.font-clash {
  font-family: 'Clash Display', sans-serif;
  /* font-weight: bold; */
  /* color: #61e6f0d2; */
}


.navLinks{
  @apply text-white font-normal text-[.9rem] transition-all duration-300 hover:scale-110 hover:bg-bgGradient hover:bg-clip-text hover:text-transparent cursor-pointer
}

.mobileLink {
  @apply text-[1.4rem] text-white font-semibold transition-all duration-300 hover:scale-110 hover:bg-bgGradient hover:bg-clip-text hover:text-transparent cursor-pointer
}
.buttons {
  @apply text-white font-[.9rem] font-normal bg-bgGradient h-[2.8rem] w-[9rem] flex items-center justify-center rounded-[0.25rem] relative before:absolute before:left-0 before:-translate-x-40 before:w-full before:h-full before:top-0 before:transition-all before:duration-1000 hover:before:translate-x-40 before:bg-btnHover overflow-hidden before:z-20 z-0 
}





/* custom checkbox container*/
.check {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 20px;

}


/* creating a custom checkbox */
.check-span {
position: absolute;
top: 2px;
left: 0;
height: 12px;
width: 12px;
/* background-color: red; */
border: 1px solid white;
border-radius: 2px;
}



/* styling base on if the input is active or checked */
.check input:active ~ .check-span,
.check input:checked ~ .check-span {
  border: none;
  background-color: #D434FE;
}



/* check mark to be shown */
.check-span::after {
  content: '';
  position: absolute;
  display: none;
}

.check input:checked ~ .check-span::after {
  display: block;
}


/* styling the check mark */
.check-span::after {
  left: 3px;
  bottom: 4px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}